$color_app_bg: #f6f5f3;
$color_nav_bg: white;

$color_btn_bg_grey: #a6a19a;
$color_btn_bg_yellow: #d4aa63;
$color_btn_bg_white: white;
$color_btn_color_grey: #aca6a0;
$color_btn_color_white: white;

$color_icon_logo: #c19678;
$color_icon_cart: #6b6257;