.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 680px;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 932px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}